/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28/11/2023, 7:12:11 p. m.
    Author     : USER
*/
/***************GLOBAL***************/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue1: #91bade;
    --blue2: #0c578c;
    --white: #fff;
    --gray: #d8d8d8;
    --black1: #222;
    --black2: #999;
}
body{
    min-height: 100hv;
    overflow-x: hidden;
}
.contenedorGeneral1{
    position: relative;
    width: 100%;
}
/***************NAVEGACION***************/
.contenedorNavegacion{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue1);
    border-left: 15px solid var(--blue1);
    transition: 0.5s;
    overflow: hidden;
}
.contenedorNavegacion.active{
    width: 80px;
}
.contenedorNavegacion ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.contenedorNavegacion ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.contenedorNavegacion ul li:hover,
.contenedorNavegacion ul li.hovered{
    background-color: var(--white);
}
.contenedorNavegacion ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.contenedorNavegacion ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.contenedorNavegacion ul li:hover a,
.contenedorNavegacion ul li.hovered a{
    color: var(--blue1);
}
.contenedorNavegacion ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 73px;
    text-align: center;
}
.contenedorNavegacion ul li a .icon ion-icon{
    font-size: 1.75rem;
}
.contenedorNavegacion ul li a .tituloDiary{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 58px;
    text-align: start;
    white-space: nowrap;
    font-size: 25px;
}
.contenedorNavegacion ul li a .titulo{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.contenedorNavegacion ul li:hover a::before,
.contenedorNavegacion ul li.hovered a::before{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.contenedorNavegacion ul li:hover a::after,
.contenedorNavegacion ul li.hovered a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
/***************MAIN***************/
.contenedorMain{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.contenedorMain.active{
    width: calc(100% - 80px);
    left: 80px;
}
.contenedorTopbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.contenedorToggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}
.user{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/************************************************/
/***************REGISTRAR CITAS******************/
/************************************************/
.contenedorRegistrarCitas{
    padding: 3%;
}
.registrarCitas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.registrarCitas span{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.registrarCitas .inputBox{
    position: relative;
}
.registrarCitas .inputBox input{
    width: 50%;
    background: var(--white);
    border: 2px solid var(--black2);
    border-radius: 10px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
}
.registrarCitas .inputBox input:focus{
    border: 2px solid var(--blue1);
    outline: none;
}
.registrarCitas #event-list{
    gap: 5px;
}
.registrarCitas #event-input{
    width: 50%;
    background: var(--white);
    border: 2px solid var(--black2);
    border-radius: 10px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
}
.registrarCitas .add-event li {
    width: 40%;
    background-color: var(--gray);
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    display: block;
    justify-content: space-between;
    align-items: center;
}
.registrarCitas .add-event button {
    padding: 0 20px 0 20px;
    line-height: 30px;
    background: var(--blue1);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.registrarCitas .inputAgenda .agenda{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.registrarCitas .botonAgenda{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.registrarCitas .botonAgenda input{
    padding: 0 20px 0 20px;
    line-height: 45px;
    background: var(--blue1);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.registrarCitas .botonAgenda input:hover{
    background: var(--blue2);
    color: var(--white);
}
.contenedorRegistrarCitas .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
@media screen and (max-width: 1000px){
    .registrarCitas{
        grid-template-columns: 1fr;
    }
    .registrarCitas .botonAdministrador{
        grid-column: span 1;
    }
    .registrarCitas .botonAdministrador{
        width: 100%;
    }
}
